{% extends 'base.html.twig' %}

{% block title %}Welcome to Symfony Bref Starter!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello there! ✅</h1>

    If you can see this, you're on the right track, yay!
</div>
{% endblock %}
