# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          contains override values for the environment variables needed by the app
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_this_to_something_secret
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# Uses port 3311 to avoid conflicts with local MySQL installations
DATABASE_URL="mysql://admin:password@127.0.0.1:3311/symfony_bref_starter_dev"
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=symfony_bref_starter_dev
MYSQL_USER=admin
MYSQL_PASSWORD=password
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
# Choose one of the transports below
MESSENGER_TRANSPORT_DSN=doctrine://default
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
###< symfony/messenger ###

###> CloudFront Request Fields ###
REQUEST_FIELD_COUNTRY=cloudfront-viewer-country
REQUEST_FIELD_REGION=cloudfront-viewer-country-region
REQUEST_FIELD_CITY=cloudfront-viewer-city
REQUEST_FIELD_IP_ADDRESS=cloudfront-viewer-address
###< CloudFront Request Fields ### 